body {
  background: #6c757d24;
  font-family: sans-serif;
  color: #6c757d;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;

  nav * {
    color: #FFFFFF;
    padding-right: 10px;
  }
  .logout {
    background: white
  }
}
section {
  margin-top:5rem;  
  margin-left: 5px; 
  margin-right: 5px;

  .section-head {
    margin-bottom: 1rem;
    margin-top: 7rem; 
  }
}

.add-btn button {
  border: 2px solid #6c757d;
}

.background-img img {
  width: 100%;
}

.social-details {
    
  h6 {
    color: #007bff94;
    font-size: 2rem;
  }
  
  span {
    font-size: 18px;
  }
}

.body-left {
  transform: translate(0px,-127px);

  .profile-image img {
    background-color: white;
    width: 100%;
  }
}

.card {
  border: 3px solid #6c757d2e;

  .profile-sm-image {
    display: none;
  }
  .card-header {
    background: white;
    display: inline-flex;
   
    h6 {
      font-weight: 700;
      margin-top: 13px;
    }

    .card-header-icon {
      background: #007bff94;
      box-shadow: 3px 4px 8px 0px rgba(0, 0, 0, 0.1);
      border: none;
      border-radius: 0;
      color: #ffffff;
      font-size: 18px;
      height: 40px;
      text-align: center;
      outline: none;
      width: 40px;
    }
  }
  .card-footer {
    background-color: white;
    border: none;
  }
}

.no-data {
  margin: 41px 152px;
}

.gallery img {
  width: 80%;
}

table {

  th {
    color: #212529eb;
    width: 25%;
  }

  td {
    color:#6c757d;;
  }
}

.profile-inner-nav {
  background: white;
  border: 2px solid #6c757d2e;

  ul {
    height: 55px;
    padding-top: 6px;

    li {
      box-sizing: content-box; 
      padding: 0px 20px 0px;
  
      a {
        color: #6c757d;
        font-size: 19px;
        font-weight: 600;
        text-decoration: none;
      }
    }
  
    li.active, li:hover {
      border-bottom: 3px solid #007bff94;
    }
  }
}

.login-form {
  border:2px solid blue;
}

.friend-media-img {
  background: white; 
  border-radius: 10px; 
  border: 3px solid #6c757d38;

  img {
    width: 30%;
  }
}

.timeline {

  .stripe {
    width: 3px;
  background: #6c757d38;
  height: -webkit-fill-available;
  position: absolute;
  left: -16px;
  top: 9px;
  }
  .post-stripe-image {
    width: 10px;
    height: 10px;
    background:#6c757d38;
    position: relative;
    left: -20px;
    border-radius: 100%;
  }

  ul.timeline {
    list-style-type: none;
    position: relative;
  }
  .card-footer {
    border-top: 3px solid #6c757d38;
  }
  .card-header {
    border: 0
  }
  img {
    width: 100%;
    height: 300px;
  }
  
  .vertical-line {
    background: #6c757d38;
    width: 2px;
  }

  ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
  }
  .timeline li::marker {
    display: contents;
    color: #6c757d;
  }
  ul.timeline > li:before {
    content: ' ';
    background: white;
    display: none;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
  }
}
@media only screen and (max-width: 555px) {
  .body-left {
    transform: translate(0px, 0px);
  }
  .background-img img {
    width: 99%;
    height: 260px;
  }

  .profile-card {
    top: 74px;

    .card-header {
      display: none;   
    }
    .profile-sm-image {
      display: block;
    }
    .card-body {
      margin-top: -68px;
    }
    img {
      border-radius: 100%;
      height: 250px;
      margin: 0px 105px 0 116px;
      top: -28px;
      transform: translate(0px, -109px);
    }
    .social-details {
      margin-top: -0.5rem!important;

      h6 {
       font-size: 30px !important;
       margin-bottom: 0;
      }
      span {
        font-size: 20px;
      }
    }
    .add-btn {
      margin-top: 15px;

      button {
        font-size: 16px;
        height: 48px;
        width: 172px;
      }
    }
  }
  .add-friend {
    margin-top: 5rem!important;
  }
}

@media only screen and (max-width: 992px) {

  .add-btn {

    button {
      font-size: 10px;
      width: 118px;
    }
  }

  table {

    th {
    width: 50%;
    }
  }

  .profile-inner-nav ul {
    height: 46px;
    padding-top: 1px;
    li a {
      font-size: 11px;
    }
  }

  .profile-card {

    .card-body {
      padding-bottom: 0;
      padding-top: 0;

      h5 {
        font-size: 1.0rem;
      }
      h6 {
        font-size: 13px
      }
      .social-details div {
        padding: 4px;
      }
    }
    .card-footer {
      margin-top: -18px;
    }
  }
 
  .body-left {
    transform: translate(0px, -75px);
  }

  .social-details {

    h6 {
      font-size: 15px!important;
      margin-bottom: 0;
    }

    span {
      font-size: 10px;
    }
  }
}

@media only screen and (min-width: 1200px) {

  .body-left {
    transform: translate(0px, -199px);
  }
  .social-details {
    
    h6 {
      font-size: 2rem;
    }
    
    span {
      font-size: 18px;
    }
  }
  
  .social-details div {
    padding: 5px;
  }
}
